<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table">
        <!--column 1-->
        <span class="column-2">
          <span class="column-2-content left-space">
            <span class="caption"> My portfolio and personal website. </span>
          </span>
          <span class="space-between-components-small"></span>
          <span class="column-2-content">
            <span class="column-heading"
              >Get to know

              <br />
              Muno.
            </span>
          </span>
          <span class="space-between-components-small"></span>
          <span class="colum-1">
            <app-know-me></app-know-me>
          </span>
          <span class="space-between-components-small"></span>
          <span class="space-between-components-small"></span>

          <span class="space-between-components-small"></span>
          <span class="column-content-highlight-large column-2-content">
            A Unicorn, the perfect M?
          </span>
          <br />
          <span class="home-body-copy column-2-content">
            I consider myselft to be a unicorn or an M shaped
            <br />
            person.
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-content-highlight column-2-content">
            An M shaped person who can be defined as
            <br />
            people who have multiple areas of expertise
            <br />
            areas which gives the shape of a comb and a
            <br />
            broad top or base for collaboration.
          </span>

          <br />

          <span class="content-copy to-the-left-box">
            -Gaurav Sharma
            <br />
            Scrum Master , Agile Project Manager
          </span>
          <span class="space-between-components-small"></span>

          <span class="column-content-highlight-grey column-2-content">
            I am constantly learning and looking for
            <br />
            opportunities to up-skill and enrichen my
            <br />
            offering as a product designer and developer.
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-2-content home-body-copy">
            I hope this consisting “loop” I follow to deliver
            <br />
            the very best product is captured in my personal
            <br />
            website.
          </span>
        </span>

        <span class="space-between-components"></span>

        <!--column 2-->
        <span class="column-1">
          <span class="image-box">
            <img
              src="../../../../../assets/home-page/new-website.png"
              alt=""
              class="home-thumbnail-small"
            />
          </span>

          <span class="space-between-components-small"></span>

          <span class="image-box">
            <img
              src="../../../../../assets/home-page/old-website.png"
              alt=""
              class="home-thumbnail-small"
            />
          </span>
        </span>

        <span class="space-between-components"></span>
      </span>
    </span>
  </span>
</span>
