<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table">
        <span class="column-2">
          <span class="caption left-space"> Why Fintech? </span>

          <br />

          <span class="column-subheading left-space">
            How a background in
            <br />
            law; finance and
            <br />
            technology brought
            <br />
            me here:
          </span>
          <span class="space-between-components-small"></span>

          <span class="column-content-highlight-large left-space">
            My Why?
          </span>
          <span class="space-between-components-small"></span>

          <span class="home-body-copy left-space">
            Growing up I always knew I wanted to
            <br />
            become a global leader who contributes to
            <br />
            making the world a better place.
            <br />
            Unfortunately for me at the time there was
            <br />
            know set path on how to go about
            <br />
            achieving this.
          </span>

          <span class="space-between-components-small"></span>

          <span class="home-body-copy left-space">
            What I did not know at the time, this would
            <br />
            be the best facet about being able to make
            <br />
            a global change, there are many ways in
            <br />
            which it can be done.
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-content-highlight-large left-space">
            It all starts will solving for a
            <br />
            problem.
          </span>

          <span class="space-between-components-small"></span>

          <span class="home-body-copy left-space">
            That is how I started on this journey as a
            <br />
            product designer and product developer.
            <br />
            From my experience in struggling to
            <br />
            gain access to quality financial education, I
            <br />
            came up with my own solution - Kukura
            <br />
            Capital a digital product that is changing
            <br />
            how consumer think and manager their
            <br />
            personal finances.
          </span>
        </span>

        <span class="space-between-components"></span>

        <!--column-2-->
        <span class="column-2">
          <span class="caption left-space left-space">
            A personal finance ecosystem
          </span>

          <br />

          <span class="column-heading left-space">
            Astute,
            <br />
            Financially
            <br />
            Astute
          </span>

          <span class="space-between-components-small"></span>

          <span class="left-space home-body-copy">
            Astuteness is the ability to accurately
            <br />
            assess a situation to one’s advantage.
            <br />
            Astute, allows its users to be financially
            <br />
            astute about their personal finances.
          </span>

          <span class="space-between-components-small"></span>

          <span class="left-space home-body-copy">
            Astute, formerly known as Kukura Capital,
            <br />
            is a platform that allows users to develop
            <br />
            their financial literacy so that they can be
            <br />
            in full control of their personal finances
            <br />
            and achieve financial freedom.
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-emphasis-black left-space"> How ? </span>

          <span class="space-between-components-small"></span>

          <span class="left-space home-body-copy">
            Astute utilises different mediums such as
            <br />
            blogs, mobile applications and mobile
            <br />
            games to distribute financial education.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-content-highlight left-space">
            Score removes all the confusion, by
            <br />
            showing you which debt is good,
            <br />
            overpriced or just a bad idea.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="home-button column-2-content left-space">
            View Prototype
          </span>
          <span class="space-between-components-small"> </span>

          <span class="column-row left-space column-2-content">
            <span class="home-circle-button">
              <img
                src="../../../../../assets/icons/Vector (1).png"
                alt=""
                class="icon"
              />
            </span>

            <span class="column-emphasis-black">
              Case Study & Design Process
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
