<span class="spinner-box">
  <span class="solar-system">
    <span class="">
      <!--unicorn -icon -->
      <span class="earth-orbit orbit">
        <span class="unicorn"></span>

        <span class="earth-orbit-2 orbit">
          <span class="writing"></span>

          <span class="earth-orbit-3 orbit">
            <span class="laptop"></span>

            <span class="earth-orbit-4 orbit">
              <span class="law"></span>

              <span class="earth-orbit-5 orbit">
                <span class="design-skill"></span>
              </span>
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
