<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="column-2">
        <span class="left-space column-emphasis-grey">
          Kukura Capital, re-branding as Astute
        </span>

        <span class="space-between-components-small"></span>
      </span>

      <span class="left-space space-right caption-black">
        A product of continuos loop of research, design, feedback and
        iterations.
      </span>
      <span class="space-between-components-small"></span>

      <span class="wrapper">
        <span class="astute-box">
          <img
            src="../../../../../assets/home-page/astute-history.png"
            alt=""
            class="astute-image"
          />
        </span>
      </span>
    </span>
  </span>
</span>
