<span class="full-section">
  <span class="wrapper vertical-line">
    <span class="content-section">
      <span class="footer-row">
        <span class="right-footer">
          <span class="space-between-components"> </span>
          <span class="caption-large"> Let's Stay In Touch </span>
          <span class="space-between-components-small"> </span>
          <span class="home-body-copy">
            I love to share what I learn and any interesting updates on my
            <br />
            projects, I also plan on sharing some free easy resources and
            <br />
            downloadable that may be helpful to other product designers <br />
            and developers.
          </span>
          <span class="space-between-components-small"> </span>

          <span class="sign-up-form">
            <span class="green-input-box"> user email</span>
            <span class="button-container">
              <span class="home-circle-button">
                <img
                  src="../../../../assets/icons/Vector (1).png"
                  alt=""
                  class="icon"
                />
              </span>

              <span class="text-button"> Sign Up </span>
            </span>
          </span>
        </span>
        <span>
          <span class="space-between-components"> </span>

          <span class="left-footer">
            <app-social-media-bar></app-social-media-bar>
            <span class="space-between-components-small"></span>
            <span class="footer-link"> Privacy Policy </span>
            <span class="space-between-components-small"></span>
            <span class="footer-link"> Image Credentials </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
