<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table">
        <span class="column-1">
          <span class="image-box">
            <img
              src="../../../../../assets/home-page/Home Screen Desktop View.svg"
              alt=""
              class="home-thumbnail"
            />
          </span>

          <br />

          <span class="image-box">
            <img
              src="../../../../../assets/home-page/Results Screen Desktop View.png"
              alt=""
              class="home-thumbnail"
            />
          </span>
        </span>

        <br class="appear" />

        <!--column-2-->
        <span class="column-2">
          <span>
            <span class="caption column-2-content">
              Wealth Management: Web Application
            </span>

            <br />
          </span>

          <span class="column-heading column-2-content">
            Wavy: Should

            <br />

            <span class="row-heading">
              <span class="wavy-logo">
                <img
                  src="../../../../../assets/home-page/wavy-eye.png"
                  alt=""
                  class="wavy-eye"
                />
              </span>

              <span class="column-heading"> Invest ?</span>
            </span>
          </span>
          <span class="space-between-components-small"></span>

          <span class="column-2-content home-body-copy">
            So you have always wanted to start
            <br />
            building your own investment portfolio.
            <br />
            However, the process to start has always
            <br />
            been just a little too intimidating?
          </span>
          <span class="space-between-components-small"></span>

          <span class="column-content-highlight column-2-content">
            There are so many options to choose
            <br />
            from, where do you start? Which
            <br />
            investments are the best for your
            <br />
            financial objectives?
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-emphasis-grey column-2-content">
            Wavy removes the complexity
            <br />
            of investing.
          </span>

          <span class="space-between-components-small"></span>

          <span class="column-emphasis-black column-2-content"> How? </span>

          <span class="space-between-components-small"></span>

          <span class="column-content-highlight column-2-content">
            Wavy gives you a comprehensive
            <br />
            summary on the key investment
            <br />
            considerations on the asset you wish to
            <br />
            invest in.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="home-button column-2-content"> View Prototype </span>
          <span class="space-between-components-small"> </span>

          <span class="column-row column-2-content">
            <span class="home-circle-button">
              <img
                src="../../../../../assets/icons/Vector (1).png"
                alt=""
                class="icon"
              />
            </span>

            <span class="column-emphasis-black">
              Case Study & Design Process
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
