<span class="full-section">
  <span class="space-between-components"></span>

  <app-wavy-tagline></app-wavy-tagline>

  <span class="space-between-components"></span>

  <app-wavy-tags-caption></app-wavy-tags-caption>

  <span class="space-between-components"></span>
  <app-wavy-content-table></app-wavy-content-table>

  <span class="space-between-components"></span>
  <app-wavy-project-cards></app-wavy-project-cards>

  <span class="space-between-components"></span>

  <app-wavy-api-ob-defi></app-wavy-api-ob-defi>

  <span class="space-between-components"></span>

  <app-score-content></app-score-content>

  <span class="space-between-components"></span>

  <app-astute-content></app-astute-content>

  <span class="space-between-components"></span>

  <app-astute-image-block> </app-astute-image-block>

  <span class="space-between-components"></span>
  <app-personal-website></app-personal-website>
  <span class="space-between-components"></span>

  <app-stack-features></app-stack-features>
  <span class="space-between-components"></span>

  <app-footer></app-footer>
  <span class="space-between-components"></span>
</span>
