<span class="chatbot-wrapper">
  <span class="caption"> We cannot forget Artificial Intelligence </span>
  <span class="space-between-components-small"></span>
  <span class="home-body-copy">
    Still have some questions? Try out the Munobot,
    <br />
    she may be able to answer some of your
    <br />
    questions.
  </span>
  <span class="space-between-components-small"></span>
  <span class="row-bot">
    <span class="chat-circle">
      <img
        src="../../../../../assets/icons/chat-icon.png"
        alt=""
        class="chat-icon"
      />
    </span>
  </span>
</span>
