<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-copy caption">
        You do not have to take my word for it:
      </span>

      <br />

      <span class="column-heading content-copy">
        Featured Fintech Projects
      </span>
      <br />

      <span class="content-copy">
        <span class="tag-row">
          <span class="tag"> UI Designer </span>

          <span class="tag"> UX Researcher </span>
        </span>
      </span>

      <br />

      <span class="content-copy">
        <span class="tag-row">
          <span class="tag"> Frontend Developer </span>

          <span class="tag"> Instructional Designer </span>
        </span>
      </span>
    </span>
  </span>
</span>
