<!--column-1-->
<span class="column-1">
  <span class="column-2-content caption-black">
    My favorite tools in my toolbox.
  </span>
  <br />
  <span class="column-2-content column-emphasis-lavender"> My Stack </span>
  <span class="space-between-components-small"></span>
  <!--first row-->
  <span class="icon-row column-2-content">
    <span class="icon-row-short">
      <!--icon stack AJ-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/angular.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Angular Js</span>
      </span>

      <!--icon stack Adobe Cloud-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/cloud.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Adobe Cloud</span>
      </span>
    </span>

    <span class="space-between-components-small"></span>

    <span class="icon-row-short">
      <!--icon stack task-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/meitertask.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Meister Task</span>
      </span>

      <span class="space-between-components-small"></span>

      <!--icon stack dart-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/dart.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Dart</span>
      </span>
    </span>
  </span>

  <span class="space-between-components-small"></span>
  <!--second row-->
  <span class="icon-row column-2-content">
    <span class="icon-row-short">
      <!--icon stack css-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/css.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">CSS</span>
      </span>

      <!--icon stack Sass-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/sass.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Sass</span>
      </span>
    </span>

    <span class="space-between-components-small"></span>

    <span class="icon-row-short">
      <!--icon stack html-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/html.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">HTML</span>
      </span>

      <span class="space-between-components-small"></span>

      <!--icon stack JS-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/javascript.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Javascript</span>
      </span>
    </span>
  </span>

  <span class="space-between-components-small"></span>
  <!--third row-->
  <span class="icon-row column-2-content">
    <span class="icon-row-short">
      <!--icon stack reactJs-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/react.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">React Js</span>
      </span>

      <!--icon stack python-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/python.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Python</span>
      </span>
    </span>

    <span class="space-between-components-small"></span>

    <span class="icon-row-short">
      <!--icon stack notion-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/notion.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Notion</span>
      </span>

      <span class="space-between-components-small"></span>

      <!--icon stack milanote-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/milanote.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Milanote</span>
      </span>
    </span>
  </span>

  <span class="space-between-components-small"></span>
  <!--4th row-->
  <span class="icon-row column-2-content">
    <span class="icon-row-short">
      <!--icon stack trello-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/trello.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Trello</span>
      </span>

      <!--icon stack storybook-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/storybook.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Storybook</span>
      </span>
    </span>

    <span class="space-between-components-small"></span>

    <span class="icon-row-short">
      <!--icon stack figma-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/figma.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Figma</span>
      </span>

      <span class="space-between-components-small"></span>

      <!--icon stack UxPin-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/uxpin.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">UxPin</span>
      </span>
    </span>
  </span>

  <span class="space-between-components-small"></span>
  <!--5th row-->
  <span class="icon-row column-2-content">
    <span class="icon-row-short">
      <!--icon stack sql-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/postgresql.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">PostgreSql</span>
      </span>

      <!--icon stack python-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/python.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Python</span>
      </span>
    </span>

    <span class="space-between-components-small"></span>

    <span class="icon-row-short">
      <!--icon stack notion-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/appollo.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Apollo GraphQl</span>
      </span>

      <span class="space-between-components-small"></span>

      <!--icon stack flutter-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/flutter.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Flutter</span>
      </span>
    </span>
  </span>

  <span class="space-between-components-small"></span>
  <!--6th row-->
  <span class="last-row column-2-content">
    <span class="last-row-short">
      <!--icon stack trello-->
      <span class="icon-set">
        <img
          src="../../../../../assets/home-stack-icons/hasura.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Hasura</span>
      </span>

      <!--icon stack hasura-->
      <span class="hide-icon icon-set">
        <img
          src="../../../../../assets/home-stack-icons/hasura.png"
          alt=""
          class="stack-box-image"
        />
        <span class="space-in-stack"></span>
        <span class="stack-font">Hasura</span>
      </span>
    </span>
  </span>

  <!--the chatbot insert-->

  <span class="space-between-components"></span>
  <span class="column-2 left-space">
    <app-chatbot></app-chatbot>
  </span>
</span>
