$neon: #d9fdb5;
$deep-green: #27392b;
$soft-pink: #edd4f6;
$owl-black: #5a5c5e;
$lavender: #9a94ee;
$deep-blue: #257ca5;
$rainy-blue: #e0e7f2;
$black: #000000;
$white: #ffffff;
$page-background: #ffffff;
