.spacer-to-left {
  flex: 1 1 auto;
}

.space-between-components {
  margin-top: 56px;

  display: inline-block;
  cursor: url("../../../assets/home-page/cursor.png"), auto;
}

.space-between-components-small {
  margin-top: 28px;

  display: inline-block;
  cursor: url("../../../assets/home-page/cursor.png"), auto;
}
