<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table">
        <!--column 1-->
        <span class="column-1">
          <span class="">
            <span class="project-card">
              <span class="project-line-space-small"></span>
              <span class="project-image">
                <img
                  src="../../../../../../assets/project-image/project-1.png"
                  alt=""
                  class="project-image"
                />
              </span>

              <span class="project-line-space-small"></span>

              <span class="tags-block">
                <span class="project-block">
                  <span class="tag">Database Management</span>
                  <span class="tag"> GraphQl </span>
                </span>

                <span class="project-line-space-small"></span>

                <span class="project-block">
                  <span class="tag"> PostgreSql </span>
                  <span class="tag-small"> Backend Development </span>
                </span>
              </span>

              <span class="project-line-space"></span>

              <span class="project-block project-title">
                Wavy API - Scaling Good Investment Decisions
              </span>

              <span class="line-space"></span>

              <span class="home-button"> View Project </span>
              <span class="project-line-space-end"></span>
            </span>
          </span>
        </span>

        <span class="space-between-components"></span>

        <!--column 2-->
        <span class="column-1">
          <span class="">
            <span class="project-card">
              <span class="project-line-space-small"></span>
              <span class="project-image">
                <img
                  src="../../../../../../assets/home-page/sso-sized.png"
                  alt=""
                  class="project-image"
                />
              </span>

              <span class="project-line-space-small"></span>

              <span class="tags-block">
                <span class="project-block">
                  <span class="tag">SSO Development</span>
                  <span class="tag"> OAuth </span>
                </span>

                <span class="project-line-space-small"></span>

                <span class="project-block">
                  <span class="tag"> Frontend Development</span>
                  <span class="tag"> OpenID</span>
                </span>
              </span>

              <span class="project-line-space"></span>

              <span class="project-block project-title">
                Data Privacy Management -
                <br />
                Wavy Login
              </span>

              <span class="line-space"></span>

              <span class="home-button"> View Project </span>
              <span class="project-line-space-end"></span>
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
