<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table">
        <!--column-1-->
        <span class="column-2">
          <span class="content-copy">
            <span class="caption-purple">
              “UX is key to driving mass adoption
              <br />
              of blockchain” — https://uxdesign.cc/
            </span>
          </span>

          <br />

          <span class="content-copy column-subheading">
            APIs Open Banking
            <br />

            & DeFi
          </span>

          <br />

          <span class="content-copy caption">
            Made Accessible Through Design
          </span>
          <br />
          <span class="content-copy home-body-copy">
            All of these technologies are disrupting
            <br />
            how consumers interact with financial
            <br />
            services and how the financial industry
            <br />

            delivers financial services and products.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="content-copy home-body-copy">
            As impressive as these technologies along
            <br />
            with their capacities, they are only as
            <br />

            effective as much as the consumer can
            <br />
            interact with them, and this places new
            <br />
            emphasis on the importance of good
            <br />
            design.
          </span>
        </span>

        <span class="space-between-components-small"></span>

        <span class="column-1">
          <span class="">
            <span class="project-card">
              <span class="project-line-space-small"></span>
              <span class="project-image">
                <img
                  src="../../../../../../assets/home-page/smart-contracts.png"
                  alt=""
                  class="project-image"
                />
              </span>

              <span class="project-line-space-small"></span>

              <span class="tags-block">
                <span class="project-block">
                  <span class="tag">Smart Contracts</span>
                  <span class="tag"> Web 3.0 </span>
                </span>

                <span class="project-line-space-small"></span>

                <span class="project-block">
                  <span class="tag"> Frontend Development</span>
                </span>
              </span>

              <span class="project-line-space"></span>

              <span class="project-block project-title">
                Data Privacy Management -
                <br />
                Wavy Login
              </span>

              <span class="line-space"></span>

              <span class="home-button"> View Project </span>
              <span class="project-line-space-end"></span>
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
