<span class="social-media-container">
  <span class="social-icon-box-gmail">
    <a href="mailto:muno.gwata@gmail.com?subject=Let's Colloborate">
      <img
        src="../../../../assets/social-icons/gmail.png"
        alt=""
        class="gmail-icon"
      />
    </a>
  </span>

  <span class="social-icon-box-github">
    <a href="https://github.com/Munogwata" target="_blank">
      <img
        src="../../../../assets/social-icons/github.png"
        alt=""
        class="github-icon"
      />
    </a>
  </span>

  <span class="social-icon-box-linkedin">
    <a href="https://www.linkedin.com/in/munozovepi-gwata-037606126/">
      <img
        src="../../../../assets/social-icons/linkedin.png"
        alt=""
        class="linkedin-icon"
      />
    </a>
  </span>
</span>
