<span class="full-section">
  <span class="wrapper">
    <span class="content-section">
      <span class="content-table-caligned">
        <span class="column-1">
          <span class="image-score-box">
            <img
              src="../../../../../assets/home-page/score-image.png"
              alt=""
              class="image-score"
            />
          </span>
        </span>

        <span class="space-between-components-small"></span>

        <span class="column-2">
          <span class="caption left-space">
            Debt Management Mobile Application
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-heading left-space">
            Score: Build
            <br />
            your Credit
            <br />
            Score
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-2-content left-space home-body-copy">
            A good credit score is the foundation of
            <br />
            financial success. This may sounds counter
            <br />
            -intuitive considering that a credit score is
            <br />
            built on your debt usage, and debt is
            <br />
            often written off as a bad thing? (Please
            <br />
            appreciate the pun).
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-2-content home-body-copy left-space">
            However, debt is not all bad, and this
            <br />
            how Score helps you get your perfect
            <br />
            credit score.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-2-content column-emphasis-black left-space">
            How?
          </span>

          <span class="space-between-components-small"> </span>

          <span class="column-content-highlight left-space">
            Score removes all the confusion, by
            <br />
            showing you which debt is good,
            <br />
            overpriced or just a bad idea.
          </span>

          <span class="space-between-components-small"> </span>

          <span class="home-button column-2-content left-space">
            View Prototype
          </span>
          <span class="space-between-components-small"> </span>

          <span class="column-row left-space column-2-content">
            <span class="home-circle-button">
              <img
                src="../../../../../assets/icons/Vector (1).png"
                alt=""
                class="icon"
              />
            </span>

            <span class="column-emphasis-black">
              Case Study & Design Process
            </span>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>
