<span class="features-wrapper">
  <span class="caption"> What the public thinks about me? </span>
  <br />

  <span class="column-emphasis-lavender">Media Features</span>

  <!--first card-->
  <span class="space-between-components-small"></span>
  <span class="media-cards">
    <span class="block">
      <img
        src="../../../../../assets/icons/MGicon.png"
        alt=""
        class="media-card-image-box"
      />
      <span class="column-content-highlight-black text">
        Mail & Guardian Top 200 Young South Africans, 2021
      </span>
    </span>
  </span>

  <!--second card-->
  <span class="space-between-components-small"></span>
  <span class="media-cards">
    <span class="block">
      <img
        src="../../../../../assets/icons/Tedx.png"
        alt=""
        class="media-card-image-box"
      />
      <span class="column-content-highlight-black text">
        Invited to deliver a Tedx Talk on inclusive economic growth.
      </span>
    </span>
  </span>

  <!--third card-->
  <span class="space-between-components-small"></span>
  <span class="media-cards">
    <span class="block">
      <img
        src="../../../../../assets/icons/etv.png"
        alt=""
        class="media-card-image-box"
      />
      <span class="column-content-highlight-black text">
        Invited on E.Tv Sunrise as advocate of financial literacy
      </span>
    </span>
  </span>

  <!--4th card-->
  <span class="space-between-components-small"></span>
  <span class="media-cards">
    <span class="block">
      <img
        src="../../../../../assets/icons/sla.png"
        alt=""
        class="media-card-image-box"
      />
      <span class="column-content-highlight-black text">
        Featured in She Leads Africa
        <span class="white-text"> aligning the content and the text </span>
      </span>
    </span>
  </span>

  <!--on to the next -->
  <span class="space-between-components"></span>

  <span class="column-emphasis-grey">
    I can’t stop talking about because
    <br />
    I am obsessed.
  </span>
  <span class="space-between-components-small"></span>

  <span class="column-subheading-small"> Notable Articles </span>
  <br />
  <span class="column-emphasis-lavender">
    Technology and Entrepreneurship
  </span>

  <span>
    <a class="home-body-copy" href="">
      Unravelling entrepreneurship and making it
      <br />
      accessible - Daily Maverick 2018.
    </a>
  </span>
  <br />
  <span>
    <a class="home-body-copy" href="">
      To flourish in the fourth industrial revolution, we
      <br />
      need to rethink these 3 things - World Economic
      <br />
      Forum 2019.
    </a>
  </span>
  <br />
  <span class="column-emphasis-lavender">
    Banking, Finance and Alternative
    <br />Finance
  </span>

  <span>
    <a class="home-body-copy" href="">
      Is the secondary role of the National Credit Act
      <br />
      preventing a South African financial crisis? - De
      <br />
      Rebus 2018.
    </a>
  </span>

  <br />
  <span>
    <a class="home-body-copy" href="">
      Business rescue and private equity can give an
      <br />
      ailing economy a leg up – Business Day 2020.
    </a>
  </span>
  <br />
  <span class="column-emphasis-lavender">
    Economic Transformation through
    <br />
    Education and Entrepreneurship
  </span>
  <span>
    <a class="home-body-copy" href="">
      Taught to fail economic transformation starts in
      <br />
      the classroom - Daily Maverick 2018.
    </a>
  </span>

  <br />

  <span>
    <a class="home-body-copy" href="">
      Listing SMEs is a sure way to create jobs -
      <br />
      Business Day 2018.
    </a>
  </span>
</span>
